/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 11 29, 23, 10:51:33 PM
    Author     : Vlad
*/

/* Root things */
:root {
    /* --black-primary: */
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    --semi-bold: 600;
}

header {
    width: 100%;
    position: fixed;
    padding: 1rem;
    padding-right: 1.5rem;
    height: 2rem;
    
    background: rgb(163, 163, 163);
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

p, input, label {
    font-size: 1rem;
}

label {
    font-family: "Trebuchet MS", sans-serif;
}

h1 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.25rem;
}

/* */

body {
    margin: 0;
    background-color: lightgrey;
    width: 100vw;
    height: 100vh;
}

main {
    width: 90%;
    height: 100vh;
    margin-left: auto; 
    margin-right: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* Input styling*/

input[type="text"], input[type="submit"] {
    font-family: "Trebuchet MS", sans-serif;
    background-color: white;
    border: 1px solid gray;
    user-select: none;
}

input[type="submit"]:hover {
    text-shadow: 2px black;
    border-color: black;
    color: blue;
    cursor: pointer;
}

/* Link Effects */
a {
    background-color: white;
    border: 1px solid gray;
    padding: 0.25rem;
    color: lightgrey;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

a:hover {
    text-shadow: 2px black;
    border-color: black;
    color: blue;
}